    .top_nav {
        display: flex;
        flex-direction: row;
    }
    
    .top_nav>div {
        width: 33%
    }
    
    .top_nav>.logo {
        display: flex;
        flex-direction: row;
    }
    
    .top_nav>.details {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .top_nav>.login_signup {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .logo>div:nth-child(2) {
        font-size: 40px;
        font-weight: 700;
        font-family: sans-serif;
    }
    
    .details>div {
        width: 20%;
        font-size: 18px;
        font-weight: 550;
        text-align: center;
        align-items: center;
        padding: 15px;
        font-family: sans-serif;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    .login_signup>div {
        width: 20%;
        font-size: 18px;
        font-weight: 550;
        text-align: center;
        align-items: center;
        padding: 15px;
        font-family: sans-serif;
    }
    
    .login_signup>div:nth-child(1) {
        background-color: rgb(25, 108, 255);
        border-radius: 5px;
        color: white;
    }
/*    till here for nav bar  */
    .pop_up {
        display: flex;
        flex-direction: row-reverse;
        background-color: rgb(255, 128, 171);
        align-items: center;
        height: 80px;
        margin-top: 30px;
    }
    
    .pop_up>.pop_up_msg {
        display: flex;
        flex-direction: row;
        margin-right: 30%;
    }
    
    .pop_up>.pop_up_msg>div:nth-child(1) {
        color: #101834;
        font-size: 22px;
        font-weight: 600;
        font-family: sans-serif;
        margin-right: 50px;
        padding: 10px;
    }
    
    .pop_up>.pop_up_msg>div:nth-child(2) {
        color: #101834;
        font-size: 22px;
        font-weight: 600;
        font-family: sans-serif;
        border: 2px solid #101834;
        border-radius: 5px;
        padding: 10px;
    }
    
    .det_box {
        max-width: 100%;
    }
    
    .det_box>.details {
        width: 70%;
        margin: 50px auto;
        text-align: center;
    }
    
    .det_box>.details>h1 {
        font-size: 48px;
        color: #101834;
        line-height: 1;
        font-weight: 700;
        font-family: sans-serif;
        text-align: center;
    }
    
    .det_box>.details>p {
        font-size: 25px;
        color: rgba(16, 24, 52, 0.75);
        line-height: 1.4;
        font-family: sans-serif;
        text-align: center;
    }
    
    .details>div {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    
    .details>div>div {
        width: 100px;
        padding: 20px;
        text-align: center;
        background-color: rgb(25, 108, 255);
        margin: auto;
        color: #ffffff;
        border-radius: 5px;
    }
    
    .details>#descr {
        font-size: 16px;
        color: rgba(16, 24, 52, 0.5);
        line-height: 1.4;
        font-family: sans-serif;
        text-align: center;
        margin-top: 0;
        margin-left: 4%;
    }
